nodered
[{"id":"d49a30a5.1ba1f","type":"tab","label":"IPCAM","disabled":false,"info":""},{"id":"72e97501.b72a9c","type":"tab","label":"Google Home","disabled":false,"info":""},{"id":"7455cc01.0adf54","type":"http in","z":"d49a30a5.1ba1f","name":"","url":"/ipcam","method":"post","upload":false,"swaggerDoc":"","x":142.99996948242188,"y":152,"wires":[["23186bf0.580aa4","1abbcca9.a9d093","349f4799.7546e8"]]},{"id":"23186bf0.580aa4","type":"switch","z":"d49a30a5.1ba1f","name":"ipcam","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":357.9999694824219,"y":179,"wires":[[],["65079a65.2f24a4"],[],[]]},{"id":"65079a65.2f24a4","type":"switch","z":"d49a30a5.1ba1f","name":"","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"twoIntent","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":515.6665649414062,"y":171,"wires":[["3e31b5c4.8c9d9a"]]},{"id":"d195012f.44126","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Test position one","output":"str","x":686.833251953125,"y":525.5,"wires":[["12b2f46d.5e8b9c"]]},{"id":"264aa926.8a8576","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\":true\n    }\n}","output":"str","x":875.4999389648438,"y":165.999986410141,"wires":[["c56f712c.c314e"]]},{"id":"d89dc65e.ab8d98","type":"http response","z":"d49a30a5.1ba1f","name":"","statusCode":"","headers":{},"x":1221.4999504089355,"y":154.49998664855957,"wires":[]},{"id":"8bb6dceb.37e2b","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1208.1666564941406,"y":256.33331298828125,"wires":[]},{"id":"c56f712c.c314e","type":"json","z":"d49a30a5.1ba1f","name":"","property":"payload","action":"","pretty":false,"x":1042.499942779541,"y":161.49998664855957,"wires":[["d89dc65e.ab8d98","8bb6dceb.37e2b","434d383.66512c8"]]},{"id":"1abbcca9.a9d093","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":372.9999694824219,"y":300,"wires":[]},{"id":"3e31b5c4.8c9d9a","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Test position two","output":"str","x":715,"y":168,"wires":[["264aa926.8a8576"]]},{"id":"12b2f46d.5e8b9c","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\":true\n    }\n}","output":"str","x":866.6666870117188,"y":528.499986410141,"wires":[["73f8c5b5.9563fc"]]},{"id":"bbcecb2e.df6ab8","type":"http response","z":"d49a30a5.1ba1f","name":"","statusCode":"","headers":{},"x":1212.6666984558105,"y":516.9999866485596,"wires":[]},{"id":"73f8c5b5.9563fc","type":"json","z":"d49a30a5.1ba1f","name":"","property":"payload","action":"","pretty":false,"x":1033.666690826416,"y":523.9999866485596,"wires":[["bbcecb2e.df6ab8","3c63a176.e0d82e"]]},{"id":"349f4799.7546e8","type":"switch","z":"d49a30a5.1ba1f","name":"ipcam","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":318,"y":514,"wires":[[],["3b67b9c4.f13376"],[],[]]},{"id":"3b67b9c4.f13376","type":"switch","z":"d49a30a5.1ba1f","name":"","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"oneIntent","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":498.66656494140625,"y":524,"wires":[["d195012f.44126"]]},{"id":"434d383.66512c8","type":"http request","z":"d49a30a5.1ba1f","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://admin:chun111111@192.168.0.9/ISAPI/PTZCtrl/channels/1/presets/1/goto","tls":"","proxy":"","authType":"basic","x":1205,"y":362,"wires":[["b3d01d01.6b71e"]]},{"id":"3c63a176.e0d82e","type":"http request","z":"d49a30a5.1ba1f","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://admin:chun111111@192.168.0.9/ISAPI/PTZCtrl/channels/1/presets/2/goto","tls":"","proxy":"","authType":"basic","x":1186,"y":812,"wires":[["eb4cd79c.431458"]]},{"id":"4a27fd51.452524","type":"inject","z":"d49a30a5.1ba1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1003,"y":364,"wires":[["434d383.66512c8"]]},{"id":"75d9a200.69414","type":"inject","z":"d49a30a5.1ba1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":974,"y":817,"wires":[["3c63a176.e0d82e"]]},{"id":"a20da85f.8bc968","type":"inject","z":"d49a30a5.1ba1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":887,"wires":[["92000284.9842f"]]},{"id":"92000284.9842f","type":"http request","z":"d49a30a5.1ba1f","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.0.9/ISAPI/Streaming/channels/101/picture","tls":"","proxy":"","authType":"basic","x":541,"y":888,"wires":[["497f7db5.6ea304","d0c722e1.648b8","47e3058.cb0b0fc"]]},{"id":"497f7db5.6ea304","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":756,"y":979,"wires":[]},{"id":"d0c722e1.648b8","type":"image viewer","z":"d49a30a5.1ba1f","name":"","width":160,"data":"payload","dataType":"msg","x":745,"y":807,"wires":[[]]},{"id":"47e3058.cb0b0fc","type":"jimp-image","z":"d49a30a5.1ba1f","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"D:/temp/100.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":723,"y":1041,"wires":[["236ffced.675d54","fcf947b.09c5ab8"]]},{"id":"236ffced.675d54","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1073,"y":1014,"wires":[]},{"id":"70f7b423.d3c6bc","type":"exec","z":"d49a30a5.1ba1f","command":"curl -k -X POST https://notify-api.line.me/api/notify -H \"Authorization: Bearer gf1oMgIGud9ytAeKAF3IkQt6MRYX6GBFdG2HDRkUQbD\" -F \"message=test\" -F \"imageFile=@D:/temp/100.jpg\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":712.5,"y":1193.5,"wires":[[],[],[]]},{"id":"fcf947b.09c5ab8","type":"delay","z":"d49a30a5.1ba1f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":522.5,"y":1112,"wires":[["70f7b423.d3c6bc"]]},{"id":"b3d01d01.6b71e","type":"delay","z":"d49a30a5.1ba1f","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1083,"y":436,"wires":[["92000284.9842f"]]},{"id":"eb4cd79c.431458","type":"delay","z":"d49a30a5.1ba1f","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1086,"y":938,"wires":[["92000284.9842f"]]},{"id":"2669f8ab.b71ac8","type":"http in","z":"72e97501.b72a9c","name":"","url":"/google","method":"post","upload":false,"swaggerDoc":"","x":120,"y":162,"wires":[["fdf67e96.9cf7","f51f17e6.b6cb38"]]},{"id":"11671e6e.af9f62","type":"http response","z":"72e97501.b72a9c","name":"","statusCode":"","headers":{},"x":961,"y":289,"wires":[]},{"id":"661f4ea2.bd487","type":"template","z":"72e97501.b72a9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"fulfillmentText\":\"{{payload}}\"\n}","output":"str","x":780,"y":287,"wires":[["11671e6e.af9f62","8538bba1.c335d8","d0e2839c.7bcfc"]]},{"id":"3383e88a.c383d8","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":432,"y":349,"wires":[]},{"id":"8538bba1.c335d8","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":948,"y":359,"wires":[]},{"id":"fdf67e96.9cf7","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":58,"wires":[]},{"id":"97866ee6.aa975","type":"template","z":"72e97501.b72a9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Test first position.\n","output":"str","x":611,"y":283,"wires":[["661f4ea2.bd487","6ad90bd6.24ff04"]]},{"id":"6ad90bd6.24ff04","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":731,"y":364,"wires":[]},{"id":"6c93ea24.379904","type":"function","z":"72e97501.b72a9c","name":"","func":"var str = msg.payload;\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":282,"wires":[["97866ee6.aa975"]]},{"id":"f51f17e6.b6cb38","type":"function","z":"72e97501.b72a9c","name":"","func":"msg.payload = msg.payload.queryResult.intent.displayName\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":288,"wires":[["124de1e2.8e8dfe"]]},{"id":"124de1e2.8e8dfe","type":"switch","z":"72e97501.b72a9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"one","vt":"str"},{"t":"eq","v":"two","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":288,"wires":[["3383e88a.c383d8","6c93ea24.379904"],["b3e48926.6f34a8","789fa610.bf8868"]]},{"id":"85bff38d.75423","type":"http response","z":"72e97501.b72a9c","name":"","statusCode":"","headers":{},"x":964,"y":443,"wires":[]},{"id":"a54ae665.cc34b8","type":"template","z":"72e97501.b72a9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"fulfillmentText\":\"{{payload}}\"\n}","output":"str","x":744,"y":451,"wires":[["85bff38d.75423","2da38876.ee3508","47bd9236.33f57c"]]},{"id":"b3e48926.6f34a8","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":427,"y":508,"wires":[]},{"id":"2da38876.ee3508","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":955,"y":517,"wires":[]},{"id":"efa4ef21.988de","type":"template","z":"72e97501.b72a9c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Test second position.","output":"str","x":564,"y":446,"wires":[["a54ae665.cc34b8","70423d3e.dde364"]]},{"id":"70423d3e.dde364","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":738,"y":519,"wires":[]},{"id":"789fa610.bf8868","type":"function","z":"72e97501.b72a9c","name":"","func":"var str = msg.payload;\nmsg.payload = parseFloat(str);\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":445,"wires":[["efa4ef21.988de"]]},{"id":"d0e2839c.7bcfc","type":"http request","z":"72e97501.b72a9c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://admin:chun111111@192.168.0.9/ISAPI/PTZCtrl/channels/1/presets/1/goto","tls":"","proxy":"","authType":"basic","x":964,"y":222,"wires":[["36a3683f.cfe108"]]},{"id":"36a3683f.cfe108","type":"delay","z":"72e97501.b72a9c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1146,"y":223,"wires":[["dbba0668.e0f168"]]},{"id":"47bd9236.33f57c","type":"http request","z":"72e97501.b72a9c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://admin:chun111111@192.168.0.9/ISAPI/PTZCtrl/channels/1/presets/2/goto","tls":"","proxy":"","authType":"basic","x":1146,"y":582,"wires":[["3f59b751.135ef8"]]},{"id":"9aa07b6d.e34438","type":"inject","z":"72e97501.b72a9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":946,"y":581,"wires":[["47bd9236.33f57c"]]},{"id":"75445f51.3e6ce","type":"inject","z":"72e97501.b72a9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":339,"y":699,"wires":[["dbba0668.e0f168"]]},{"id":"dbba0668.e0f168","type":"http request","z":"72e97501.b72a9c","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.0.9/ISAPI/Streaming/channels/101/picture","tls":"","proxy":"","authType":"basic","x":530,"y":700,"wires":[["4138dfe0.4c6a7","d8f9f285.1dd2d","2f9a0b6d.873bb4"]]},{"id":"4138dfe0.4c6a7","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745,"y":791,"wires":[]},{"id":"d8f9f285.1dd2d","type":"image viewer","z":"72e97501.b72a9c","name":"","width":160,"data":"payload","dataType":"msg","x":734,"y":619,"wires":[[]]},{"id":"2f9a0b6d.873bb4","type":"jimp-image","z":"72e97501.b72a9c","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"D:/temp/100.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":712,"y":853,"wires":[["65ad1b26.3785c4","7aef17e6.411038"]]},{"id":"65ad1b26.3785c4","type":"debug","z":"72e97501.b72a9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1062,"y":826,"wires":[]},{"id":"ed9fb74f.636448","type":"exec","z":"72e97501.b72a9c","command":"curl -k -X POST https://notify-api.line.me/api/notify -H \"Authorization: Bearer gf1oMgIGud9ytAeKAF3IkQt6MRYX6GBFdG2HDRkUQbD\" -F \"message=test\" -F \"imageFile=@D:/temp/100.jpg\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":701.5,"y":1005.5,"wires":[[],[],[]]},{"id":"7aef17e6.411038","type":"delay","z":"72e97501.b72a9c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":511.5,"y":924,"wires":[["ed9fb74f.636448"]]},{"id":"3f59b751.135ef8","type":"delay","z":"72e97501.b72a9c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1294,"y":632,"wires":[["dbba0668.e0f168"]]}]
