readme
[{"id":"d49a30a5.1ba1f","type":"tab","label":"IPCAM","disabled":false,"info":""},{"id":"e715c59a.0158e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7455cc01.0adf54","type":"http in","z":"d49a30a5.1ba1f","name":"","url":"/ipcam","method":"post","upload":false,"swaggerDoc":"","x":142.99996948242188,"y":152,"wires":[["23186bf0.580aa4","1abbcca9.a9d093","349f4799.7546e8"]]},{"id":"23186bf0.580aa4","type":"switch","z":"d49a30a5.1ba1f","name":"ipcam","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":357.9999694824219,"y":179,"wires":[[],["65079a65.2f24a4"],[],[]]},{"id":"65079a65.2f24a4","type":"switch","z":"d49a30a5.1ba1f","name":"","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"twoIntent","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":515.6665649414062,"y":171,"wires":[["3e31b5c4.8c9d9a"]]},{"id":"d195012f.44126","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Test position one","output":"str","x":686.833251953125,"y":525.5,"wires":[["12b2f46d.5e8b9c"]]},{"id":"264aa926.8a8576","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\":true\n    }\n}","output":"str","x":875.4999389648438,"y":165.999986410141,"wires":[["c56f712c.c314e"]]},{"id":"d89dc65e.ab8d98","type":"http response","z":"d49a30a5.1ba1f","name":"","statusCode":"","headers":{},"x":1221.4999504089355,"y":154.49998664855957,"wires":[]},{"id":"8bb6dceb.37e2b","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1208.1666564941406,"y":256.33331298828125,"wires":[]},{"id":"c56f712c.c314e","type":"json","z":"d49a30a5.1ba1f","name":"","property":"payload","action":"","pretty":false,"x":1042.499942779541,"y":161.49998664855957,"wires":[["d89dc65e.ab8d98","8bb6dceb.37e2b","434d383.66512c8"]]},{"id":"1abbcca9.a9d093","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":372.9999694824219,"y":300,"wires":[]},{"id":"3e31b5c4.8c9d9a","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Test position two","output":"str","x":715,"y":168,"wires":[["264aa926.8a8576"]]},{"id":"12b2f46d.5e8b9c","type":"template","z":"d49a30a5.1ba1f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"{{payload}}\"\n        },\n        \"shouldEndSession\":true\n    }\n}","output":"str","x":866.6666870117188,"y":528.499986410141,"wires":[["73f8c5b5.9563fc"]]},{"id":"bbcecb2e.df6ab8","type":"http response","z":"d49a30a5.1ba1f","name":"","statusCode":"","headers":{},"x":1212.6666984558105,"y":516.9999866485596,"wires":[]},{"id":"73f8c5b5.9563fc","type":"json","z":"d49a30a5.1ba1f","name":"","property":"payload","action":"","pretty":false,"x":1033.666690826416,"y":523.9999866485596,"wires":[["bbcecb2e.df6ab8","3c63a176.e0d82e"]]},{"id":"349f4799.7546e8","type":"switch","z":"d49a30a5.1ba1f","name":"ipcam","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":318,"y":514,"wires":[[],["3b67b9c4.f13376"],[],[]]},{"id":"3b67b9c4.f13376","type":"switch","z":"d49a30a5.1ba1f","name":"","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"oneIntent","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":498.66656494140625,"y":524,"wires":[["d195012f.44126"]]},{"id":"434d383.66512c8","type":"http request","z":"d49a30a5.1ba1f","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://admin:chun111111@192.168.0.9/ISAPI/PTZCtrl/channels/1/presets/1/goto","tls":"","proxy":"","authType":"basic","x":1205,"y":362,"wires":[[]]},{"id":"3c63a176.e0d82e","type":"http request","z":"d49a30a5.1ba1f","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://admin:chun111111@192.168.0.9/ISAPI/PTZCtrl/channels/1/presets/2/goto","tls":"","proxy":"","authType":"basic","x":1195,"y":614,"wires":[[]]},{"id":"4a27fd51.452524","type":"inject","z":"d49a30a5.1ba1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1003,"y":364,"wires":[["434d383.66512c8"]]},{"id":"75d9a200.69414","type":"inject","z":"d49a30a5.1ba1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":983,"y":619,"wires":[["3c63a176.e0d82e"]]},{"id":"a20da85f.8bc968","type":"inject","z":"d49a30a5.1ba1f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":359,"y":689,"wires":[["92000284.9842f"]]},{"id":"92000284.9842f","type":"http request","z":"d49a30a5.1ba1f","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.0.9/ISAPI/Streaming/channels/101/picture","tls":"","proxy":"","authType":"basic","x":550,"y":690,"wires":[["497f7db5.6ea304","d0c722e1.648b8","47e3058.cb0b0fc"]]},{"id":"497f7db5.6ea304","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":765,"y":781,"wires":[]},{"id":"f7f1848e.b62ef8","type":"inject","z":"d49a30a5.1ba1f","name":"","topic":"","payload":"hello chunz","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":356,"y":964,"wires":[["642c6e54.39f96"]]},{"id":"d0c722e1.648b8","type":"image viewer","z":"d49a30a5.1ba1f","name":"","width":160,"data":"payload","dataType":"msg","x":754,"y":609,"wires":[[]]},{"id":"47e3058.cb0b0fc","type":"jimp-image","z":"d49a30a5.1ba1f","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"100","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":619,"y":831,"wires":[["a461c992.472ca8"]]},{"id":"236ffced.675d54","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1082,"y":816,"wires":[]},{"id":"a461c992.472ca8","type":"image viewer","z":"d49a30a5.1ba1f","name":"","width":160,"data":"payload","dataType":"msg","x":827,"y":827,"wires":[["236ffced.675d54"]]},{"id":"c4835300.dc664","type":"function","z":"d49a30a5.1ba1f","name":"","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':\n    'Bearer gf1oMgIGud9ytAeKAF3IkQt6MRYX6GBFdG2HDRkUQbD'};\n\nmsg.payload = {\n    \n    'message':msg.payload,\n    'imageThumbnail': 'http://admin:chun111111@192.168.0.9/ISAPI/Streaming/channels/101/picture',\n    'imageFullsize': 'http://admin:chun111111@192.168.0.9/ISAPI/Streaming/channels/101/picture'\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":591,"y":996,"wires":[["86613997.18c598"]]},{"id":"86613997.18c598","type":"http request","z":"d49a30a5.1ba1f","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://notify-api.line.me/api/notify","tls":"","proxy":"","authType":"basic","x":774,"y":987,"wires":[["8414f190.c436a"]]},{"id":"642c6e54.39f96","type":"line-notify","z":"d49a30a5.1ba1f","name":"","message":"Hello!","contentType":"imageUrl","imageUrl":"http://192.168.0.9/Streaming/channels/101/picture?snapShotImageType=JPEG","stickerPackageId":"1","stickerId":"1","x":362,"y":859,"wires":[]},{"id":"8414f190.c436a","type":"debug","z":"d49a30a5.1ba1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":984,"y":1012,"wires":[]},{"id":"1a31bd6d.dfd8a3","type":"jimp-image","z":"e715c59a.0158e8","name":"Get kitten from placekitten.com","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":692,"y":253,"wires":[["d0073cc9.01bbb"]]},{"id":"d0073cc9.01bbb","type":"jimp-image","z":"e715c59a.0158e8","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"100","parameter1Type":"num","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Usefull for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":920,"y":252,"wires":[["5204d3cd.2a6eec"]],"icon":"font-awesome/fa-image"},{"id":"5204d3cd.2a6eec","type":"jimp-image","z":"e715c59a.0158e8","name":"q90.jpg","data":"payload","dataType":"msg","ret":"buf","parameter1":"d:/temp/q100.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1050,"y":252,"wires":[["3dd6a12f.2d5bde"]],"icon":"font-awesome/fa-image"},{"id":"3dd6a12f.2d5bde","type":"image","z":"e715c59a.0158e8","name":"","width":"200","x":1244,"y":254,"wires":[]},{"id":"4939fb44.f2bd54","type":"http request","z":"e715c59a.0158e8","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://192.168.0.9/ISAPI/Streaming/channels/101/picture","tls":"","proxy":"","authType":"basic","x":402,"y":253,"wires":[["1a31bd6d.dfd8a3"]]},{"id":"74175c86.f2e9d4","type":"inject","z":"e715c59a.0158e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":211,"y":252,"wires":[["4939fb44.f2bd54"]]},{"id":"5a2c0e64.a6b84","type":"function","z":"e715c59a.0158e8","name":"","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':\n    'Bearer gf1oMgIGud9ytAeKAF3IkQt6MRYX6GBFdG2HDRkUQbD'};\n\nmsg.payload = {\n    \n    'message':'hello paruru',\n    'imageFile':'./q100.jpg',\n\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":599,"y":401,"wires":[["5804293e.46c288"]]},{"id":"5804293e.46c288","type":"http request","z":"e715c59a.0158e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://notify-api.line.me/api/notify","tls":"","proxy":"","authType":"basic","x":787,"y":402,"wires":[["75b7a4ef.c94dbc"]]},{"id":"75b7a4ef.c94dbc","type":"debug","z":"e715c59a.0158e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1048,"y":399,"wires":[]},{"id":"2f57f1f5.9cea5e","type":"inject","z":"e715c59a.0158e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":438,"y":478,"wires":[["5a2c0e64.a6b84"]]}]
